
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
/* GENERAL STYLING */

html {
    scroll-behavior: smooth;
}

/* BODY */
body {
    margin: 0%;
    opacity: 1; 
    transition: 3s opacity;
    user-select: none;
}

body.fade-out {
    opacity: .1;
}

/* HEADING 1 ELEMENTS */
h1 {
    text-transform: uppercase;
    font-family: "Press Start 2P", serif;
    text-align: center;
    margin-top: 3%;
    color: #d7005c;
    transition: transform 1s;
}
 /* HEADING 1 HOVER */
 h1:hover{
    filter: hue-rotate(-15deg);
    transform: scale(1.1);
    transition: transform 1s;
 }

 /* PORTFOLIO TITLE */
 .title{
    color: #d7005c;
    font-size: 4em;
    font-weight: bold;
 }

 /* PARAGRAPH ELEMENTS */
 p{
    font-family: "VT323", serif;
    text-align: justify;
    letter-spacing: 2px;
    font-size: 30px;
    padding-left: 20px;
    padding-right: 20px;
 }

 /* CENTER CLASS */
 .center{
    text-align: center;
 }

 .center:hover{
    transition: transform 2s;
    transform: scale(1.1);
 }

  /* ANCHOR ELEMENTS */
  a{
    color: #F25C05;
 }

 
 /* IMAGE ELEMENTS */
  .col2 img {
    border-radius: 20px;
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: auto auto auto auto;
    transition: transform 1s;
    max-width: 90%;
    max-height: 90%;
 }

 .col2 img:hover{
    transition: transform 1s;
	transform: scale(1.05);
 }

 /* IMAGE RESPONSIVE */
 

.col2 a {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 450px; /* Adjust as needed */
    max-height: 450px; /* Adjust as needed */
    margin: auto;
}

.col2 a img {
    max-width: 100%;
    height: auto;
    display: block;
    object-fit: contain;
    border-radius: 20px;
    transition: transform 1s;
}

.col2 a img:hover {
    transform: scale(1.05); /* Reduced scale */
    transition: transform 1s;
}

@media screen and (max-width: 576px) {
    img {
        height: auto;
        
    }

    .col2 a {
        max-width: 75px;
        max-height: 75px;
    }

    .col2 a img {
        height: auto;
    }
}

/* FOOTER */
footer{
    padding: 2%;
    background-color: #49a1f9;
    overflow-x: hidden;
}

/* END GENERAL STYLING */


/* NAVBAR STYLING */
.navbar{
    overflow: hidden;
    background-color: #212626;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    -webkit-animation: moveNav 5s;
    animation: moveNav 5s;
}

@keyframes moveNav {
    from {left: -100vw;}
    to {left: 0vw;}
}

/* NAVBAR LINKS */
.navbar a {
    float: left;
    display: block;
    color:  #2ad404;
    padding: 14px 16px;
    text-decoration: none;
    font-family: "VT323", serif;
    font-size: 30px;
    text-align: center;
    position: relative;
    -webkit-animation: moveNavText 5.75s;
    animation: moveNavText 5.75s;
    
    
}

@keyframes moveNavText {
    from {top: -100vw;}
    to {top: 0vw;}
}

@media screen and (max-width: 576px) {
    .navbar a{
        width: 25%; 
        font-size: 12px;
    }
}

/* NAVBAR HOVER EFFECTS */
.navbar a:hover{  
    text-decoration: underline;
    text-decoration-color: #03A6A6;
    transition: text-decoration 1s ease;
    
}

.navbar a.active{
    background-color: rgb(0, 0, 0);
}

/* END OF NAVBAR STYLING */

/* TOP IMAGE STYLING */
.img_box{
    position: fixed;
    right: 0;
    top: 0;
    min-width: 100%;
    z-index: -1;
    overflow: hidden;
 }

#bg_img{
   width: 100%;
   border-radius: 0px;
   height: 60rem;
   filter: blur(3px);
   object-fit: cover;
}



/* TEXT OVER VIDEO */
.img_text{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #d7005c;
    width: 100%;
    height:30rem;
    padding: 20px;
    position: relative;
    -webkit-animation: moveVideoText 5.75s;
    animation: moveVideoText 5.75s;
}

@keyframes moveVideoText {
    from {top: -100vw;}
    to {top: 0vw;}
}
/* END TOP IMAGE STYLING */

/* TABLE SIZING */
*{
    box-sizing: border-box;
}

.col1{
    float: left;
    width: 50%;
    padding: 1.6%;
    padding-top: 3%;
    height: 400px;
    background-color: #78E0A3;
}

@media screen and (max-width: 576px) {
    .col1 {
        overflow: auto;
    }
}

.col2{
    float: left;
    width: 50%;
    padding: 1.6%;
    height: 400px;
    background-color: #674894;
    display: flex;
    justify-content: center;
    align-items: center;
}


.row:after{
    content: "";
    display: table;
    clear: both;
}
/* END TABLE STYLING */


/* SLIDESHOW STYLING */
#Slideshow_Background {
    background: rgba(255, 101, 178, 0.35);
}

.mySlides {
    display: none;
}

#Slideshow_Container {
    width: 39.5vw;
    height: auto;
    padding-top: 4%;
    position: relative;
    margin: auto;
}

#Slideshow_Container a {
    text-decoration: none;
}

.Slideshow_Images {
    vertical-align: middle;
    height: auto;
    box-shadow: 0px 3px 8px 8px rgba(255, 90, 172, 0.75);
    width: 100%;
}

.Previous, .Next {
    cursor: pointer;
    position: absolute;
    margin: 3px;
    top: 50%;
    width: 4vw; /* Set a fixed width */
    height: 4vw; /* Set a fixed height (equal to width) */
    display: flex; /*Use flex box to center content*/
    justify-content: center;
    align-items: center;
    color: rgb(98, 86, 234);
    font-weight: bold;
    font-size: 1.5vw;
    border-radius: 100%;
    user-select: none;
    transition: 0.6s ease;
}

.Next {
    right: 0;
    
}

.Previous:hover, .Next:hover {
    background-color: rgba(255, 251, 0, 0.8);
    color: rgb(254, 35, 122);
}

.text {
    color: rgb(255, 255, 0);
    font-family: "VT323", serif;
    font-size: 2vw;
    padding: 1vw;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: rgba(58, 10, 125, 0.75);
    
}

.dot {
    cursor: pointer;
    height: 1vw;
    width: 1vw;
    margin: .25vw;
    background-color: #2ad404;;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    z-index: 1;
}

.active, .dot:hover {
    background-color: black;
}

.fade {
    animation-name: fade; 
    animation-duration: 1.5s;
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4;}
    to {opacity: 1;} 
}

@keyframes fade {
    from {opacity: .4;} 
    to {opacity: 1;}
}

/* CONTACT FORM STYLING */
.Pop_Up_Button {
    position: fixed;
    font-family: "Press Start 2P", serif;
    bottom: 1.75vw;
    right: 1.75vw;
    width: 25vw; 
    background-color: #F25C05;
    color: black; 
    border: solid black; 
    cursor: pointer; 
    -webkit-animation: movePopup 5s; 
    animation: movePopup 5s;
}

@keyframes movePopup {
    from {right: -40vw;} 
    to {right: 1.75vw;}
}

@-webkit-keyframes movePopup {
    from {right: -40vw;} 
    to {right: 1.75vw;}
}

.form-popup {
    z-index: 8; 
    display: none;
    font-family: "VT323", serif;
    position: fixed; 
    bottom: .5vw; 
    right: .5vw; 
}

/* Form styling */
.form-container {
    max-width: 49vw; 
    padding: 1vw; 
    background-color: white; 
}

.form-container input[type=text] {
    width: 100%; 
    padding: .93vw; 
    margin: .6vw 0 .6vw 0;
    border: none;
    background: Gainsboro;
    font-size: 1vw;
}


button {
    font-family: "Press Start 2P", serif;
    letter-spacing: .3vw; 
    font-size: 1.5vw; 
    font-weight: bold; 
    padding: 1.5vw; 
    cursor: pointer; 
    width: 100%; 
    height: auto; 
    border-radius: 20px;
}

button:hover, .form-container .btn:hover {
    color: white; 
    background-color: #b34404; 
    transition-duration: 1s; 
    -webkit-transition-duration: 1s; 
    border-color: silver;
}

/* Submit button */
.form-container .btn {
    background-color: #2ad404; 
    color: white;
    border-color: black;
    margin-bottom: 1vh;
}

.form-container .btn:hover {
    background-color: #1d9602;
}

.form-container .cancel {
    background-color: rgb(255, 0, 89);
    color: white;
    border-color: gray;
}

.form-container .cancel:hover {
    color: white;
    background-color: rgb(193, 3, 70);
    transition-duration: 1s;
    -webkit-transition-duration: 1s;
    border-color: black;
}

/* MEDIA QUERIES */
@media screen and (max-width: 527px) {
    p {
        font-size: 3.75vw;
    }
}

@media screen and (min-width: 528px) and (max-width: 660px) {
    p {
        font-size: 3.5vw;
    }
}

@media screen and (min-width: 661px) and (max-width: 799px) {
    p {
        font-size: 2.75vw;
    }
}

@media screen and (min-width: 800px) and (max-width: 924px) {
    p {
        font-size: 2.5vw;
    }
}

@media screen and (min-width: 925px) and (max-width: 1050px) {
    p {
        font-size: 2.25vw;
    }
}

@media screen and (min-width: 1051px) and (max-width: 1310px) {
    p {
        font-size: 2vw;
    } 
}

@media screen and (min-width: 1311px) and (max-width: 1535px) {
    p {
        font-size: 1.75vw;
    }
}

@media screen and (min-width: 1536px) and (max-width: 2269px) {
    p {
        font-size: 1.5vw;
    }
}

@media screen and (min-width: 2270px) {
    p {
        font-size: 1.35vw;
    }
}

@media screen and (max-width: 1080px) {
    .navbar a{
        width: 20%; 
        font-size: 2.7vw;
    }
}

@media screen and (max-width: 1080px) {
    .title {
        font-size: 4.5vw;
    }
}

@media screen and (max-width: 1724px) {
    .col1 {
        height: 550px;
    }
    .col2 {
        height: 550px;
        display: flex; 
        justify-content: center;
        align-items: center;
    }
    .col2 a {
        max-width: 400px; 
        max-height: 400px; 
    }
}

@media screen and (min-width: 1725px) {
    .col1 {
        height: 550px;
    }
    .col2 {
        height: 550px;
    }
}


@media screen and (min-width: 2000px) {
    h1{
        margin-top: 0;
    }
}    

   
   